<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Winter is coming!</title>
</head>
<body>
    <form method="POST">
        <input type="text", name="userinput"><br><br>
        <input type="submit", value="Answer">
    </form>
    <div class="results">
        <pre>{{ jsonfile }}</pre>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Stark</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body class="align">

    <h3>Question Answering and Sentiment Analysis</h3>
  
    <form method="POST">
      <div class="form__field">
        <input type="text" class="form__input" pattern=".{6,}" name="userinput" required>
        <span class="icon"></span>
      </div>
      <input type="submit", value="Predict" class="answer_button">
    </form>
    {% block body %}
    <ul>
        {% for key,value in data.items() %}
            <strong>{{key}}</strong>
            {% if key=='Answer' %}
            <li>{{value['answer']}}</li>
            <strong>Confidence Level</strong>
            <li>{{value['score']}} %</li>
            {% else %}
            <li>{{value}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endblock %}
  
    <p>Type in your question/text and hit the Predict button</p>
  
  </body>
  
  
</html>